
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.textarea-container {
    width: 85vw;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.buttonSection {
    width: 85vw;
    margin: 0.5rem 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.buttonSection button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 0.75rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
    color:#000000;
    transition: all 0.2s linear;
}
.buttonSection button:hover {
    color: #647DEE;
    border-color: #647DEE;
    transform: translateY(-2px);
}
.buttonSection button svg {
    height: 0.75rem;
    width:  0.75rem;
}
/* Text summary section starts */
.TextSummary {
    width: 85vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    /* padding: 1rem; */
}
.ViewText, .text-summary-container {
    width: 85vw;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.ViewText {
    overflow: auto;
}
.previewHeading {
    width: 100%;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #7F53AC, #647DEE);
    border-image-slice: 1;
}
.previewHeading h3 {
    margin: 0.2rem;
    margin-left: 0;
}

